<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name ="viewport" content ="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1" />
 	<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<title>微信jssdk认证</title>
	<script type="text/javascript">
      var basePath = 'http://mxt.digi-zones.com';
      // 微信分享的数据
      var wxData = {
          title : 'Node微信jssdk服务器',
          desc : '测试一下!',
          link : 'http://mxt.digi-zones.com',
          imgUrl : '',
          type: '', 
          dataUrl: '', 
          success: function () {
              //分享成功
             //do something!
             alert('分享成功')
          }
      };
      $(function(){
        $.ajax({
          type: 'POST',
          url: basePath+'/jssdk/1',
          dataType: 'json',
          data: {
            url: location.href.split('#')[0]
          },
          success: function(result){
            wx.config({
                debug: false, 
                appId: result.appid, 
                timestamp: result.timestamp, 
                nonceStr: result.nonceStr, 
                signature: result.signature,
                jsApiList: [
                  'onMenuShareAppMessage',
                  'onMenuShareTimeline',
                  'onMenuShareQQ',
                  'onMenuShareWeibo',
                  'onMenuShareQZone',
                  'startRecord',
                  'stopRecord',
                  'onVoiceRecordEnd',
                  'onVoicePlayEnd',
                  'playVoice',
                  'pauseVoice',
                  'stopVoice',
                  'uploadImage',
                  'downloadImage'
                ]
            });
            wx.error(function(){
              alert('error')
            })
            wx.ready(function(){
              addWeixinShareListening();
            })
          }
        })
      })
      // 分享绑定
      function addWeixinShareListening (){
          wx.onMenuShareTimeline(wxData);
          wx.onMenuShareAppMessage(wxData);
          wx.onMenuShareQQ(wxData);
          wx.onMenuShareWeibo(wxData);
      }   
    </script>
</head>
<body>
	   <h1><%= title %></h1>
</body>
</html>